<div>
    <a href="/words"> <h1>Radical Morphophonemics</h1></a>
<h3>What's morphophonemics and why is it radical?</h3>

<body>
<p><a href="https://en.wikipedia.org/wiki/Morphophonology" title="Visit the Morphophonology Wikipedia Page" target="_blank"> 
Morphophonemics or morphophonology</a> is a branch of linguistics that focuses 
on the relationship between pronunciation and spelling and how it changes in different words.
For example, did you ever notice how the 's' in the word 'dogs' is pronounced as /z/ but the 's'
in the word 'cats' is pronounced /s/? </p>
<p>This list aims to take that idea one step further by focusing on the radical (or root) of the
words. So each word pair in the Radical Morphos list shares a common root, but varies in 
pronunciation. Like 'sane' and 'sanity' and I happen to think they're pretty radical too.</p>

    </body>

    <div>